* {
    margin: 0;
    text-align: center;
}

body{
    background: linear-gradient(45deg, rgb(233, 231, 99), rgb(80, 179, 80), rgb(75, 202, 196));
}
#header {
    background-color: rgb(194, 78, 188);
    height: 70px;
    position: sticky;
    top: 0;
}
#brand {
    width: 40%;
    float: left;
    line-height: 70px;
    height: 70px;
    text-align: left;
}
#brand > h1{
    color: blue;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0 10px 10px rgb(32, 32, 39);
}
#menu {
    width: 60%;
    float: right;
    height: 70px;
    text-align: center;
    margin-top: 20px;
}
#menu > a{
    font-size: 20px;
    color: white;
    cursor:pointer;
}

.dropbtn {
    background-color: rgb(182, 48, 43);
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: none;
    margin-left: 20px;
    bottom: 20px;
    border-radius: 10px;
  }
  
  .dropdown {
    position: absolute;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #d4b8b8;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(43, 23, 228);
    font-weight: 500;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
      display: block;
    }
  
  .dropdown:hover .dropbtn {
      background-color: #3e8e41;
      border-radius: 20px;
    }

#main{
    padding: 20px;
}
#title{
    margin-bottom: 60px;
}
#title > h1 >span{
    font-size: 40px;
    text-decoration: underline;
}
    
.dp{
    background: linear-gradient(45deg, red,green,blue);
    color: rgb(236, 235, 241);
    width: 600px;
    padding: 15px;
    border-radius: 50%;
    margin: 20px;
    text-align: center;
    font-size: 30px;
    margin-left: 450px;
    margin-bottom: 30px;
    box-shadow: 0 10px 10px 0 black;
}
.para{
    font-size: 18px;
    font-weight: 200;
    color: rgb(25, 25, 29);
    text-align: center;
    margin-bottom: 30px;
}
    
table{
    width: 100%;
    margin: 30px;
    border: none;
}
img{
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 black;
    cursor: pointer;
}
.name{
    color: rgb(247, 244, 242);
    font-size: 30px;
    text-shadow: 0 0 10px black;
    text-decoration: underline;
    cursor: pointer;
}
a{
    color: rgb(11, 202, 113);
    margin-left: 30px;
    text-decoration: none;
}
#th{
    width: 600px;
    background: linear-gradient(45deg, rgb(0, 110, 255),rgb(65, 182, 65),rgb(255, 123, 0)); 
    padding-left: 80px;
    margin-top: 30px;
    margin-left: 400px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 10px 10px 0 black;
}
#thank{
    font-size: 50px;
    width: 500px;
    color: rgb(189, 34, 42);
    background: radial-gradient( rgb(0, 110, 255),rgb(65, 182, 65),rgb(255, 123, 0)); 
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 10px 10px 0 black;
}
#footer{
    background: black;
    padding: 50px;
    color: cornsilk;
    margin-top: 50px;
}